<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="day_11_encoding">
        <wb-resource deploy-path="/" source-path="/WebRoot" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="context-root" value="day_11_encoding"/>
        <property name="java-output-path" value="/day_11_encoding/WebRoot/WEB-INF/classes"/>
    </wb-module>
</project-modules>
